" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc

" *****
" CUSTOM CHANGES
" *****
" Set leader
let mapleader = " "

" Core config
set relativenumber
set number
set incsearch
set ignorecase
set smartcase

" Additional Changes
inoremap jk <Esc>
nnoremap <leader>q :q<CR>

" Code selection
vnoremap J :m '>+1<CR>gv=gv
vnoremap K :m '<-2<CR>gv=gv

" code interactions
map gcc <Action>(CommentByLineComment)
map gcc <Action>(CommentByLineComment)<Esc>
map gc <Action>(CommentByBlockComment)
nmap <leader>fc <Action>(ReformatCode)

" run
nmap <leader>rc <Action>(ContextRun)
nmap <leader>rx<Action>(chooseRunConfiguration)
nmap <leader>rr <Action>(Rerun)
nmap <leader>rt <Action>(RunTests)
nmap <leader>rs <Action>(Stop)

" debug
nmap <leader>dc <Action>(ContextDebug)
nmap <leader>dx <Action>(Debug)
nmap <leader>db <Action>(ToggleLineBreakpoint)
nmap <leader>de <Action>(EditBreakpoint)
nmap <leader>dv <Action>(ViewBreakpoints)


" https://youtrack.jetbrains.com/issue/VIM-1970
set highlightedyank

" *****
" END OF CUSTOM CHANGES
" *****


"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

" Don't use Ex mode, use Q for formatting.
map Q gq

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'


"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)
